.vs/
.config/
bin/
obj/

Firebase Firestore Visualizer/

firebase-service-account.json

documentation/*
!documentation/documentation.pdf
!documentation/documentation.tex
!documentation/banter_screenshot.png

.fake